<% #locals: f and button %>
<% if f.object.errors.any? %>  
  <div id="errorExplanation">  
    <p><%= pluralize(f.object.errors.count, "erreur") %> a été rencontrée:</p>  
    <dl>  
    <% f.object.errors.full_messages.each do |msg| %>  
      <dt><%= msg %></dt>  
    <% end %>  
    </dl>  
  </div>  
  <% end %>  

<h3>Terrains disponible sur Ftp:</h3>

<% @distant_fields.each do |d_field| %>
<div class="admin_field_item">
  <label for="field_filename_<%= d_field.downcase.delete "."  %>"><img src="<%= "#{ASSETS_URL}#{d_field}" %>" alt="<%= d_field %>"  title="<%= d_field %>" /></label><br />
  <%= radio_button("field", "filename", d_field) %>
</div>
<% end %>

<p style="clear:both;">
  <%= f.submit :value => button %>
</p>