<% ((player_connected.posy-5)..(player_connected.posy+5)).each do|y| %>
      <% ((player_connected.posx-5)..(player_connected.posx+5)).each do|x| %>
          
          <% if fields["#{x};#{y}"].blank?  %>
              <% css_for_field = "field#{player_connected.map.default_field_id}" %>
          <% else %>
              <% css_for_field = "field#{fields["#{x};#{y}"].field_id}" %>
          <% end %>
          <% unless players["#{x};#{y}"].blank? %>
            <% player = players["#{x};#{y}"] %>
            
            <div id="player<%= player.id %>" class="<%= css_for_field  %>">
            <%= image_tag("/assets/icons/rabbit.png", :title => player.name) %>
           </div>
          <% else %>
            <div id="pos<%= "#{x}I#{y}" %>" class="<%= css_for_field  %>"></div>
          <% end %>
       
      <% end %>
    <% end %>