<% #locals: f and button %>
<% if f.object.errors.any? %>  
  <div id="errorExplanation">  
    <p><%= pluralize(f.object.errors.count, "erreur") %> a été rencontrée:</p>  
    <dl>  
    <% f.object.errors.full_messages.each do |msg| %>  
      <dt><%= msg %></dt>  
    <% end %>  
    </dl>  
  </div>  
  <% end %>  
<p>
  <%= f.label :user_id, "Propriétaire" %>
  <%= f.select :user_id, options_for_select([["Choisir...",nil]]+@users.collect {|user| [user.email,user.id]}, @player.user_id) %>
</p>
<p>
  <%= f.label :name, "Nom" %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :map_id, "Plan" %>
  <%= f.select :map_id, options_for_select([["Choisir...",nil]]+@maps.collect {|map| [map.name,map.id]}, @player.map_id) %>
</p>
<p>
  <%= f.label :posx, "Position X" %>
  <%= f.number_field :posx, :step => 1 %>
</p>
<p>
  <%= f.label :posy, "Position Y" %>

  <%= f.number_field :posy, :step => 1 %>
</p>
<p>
  <%= f.label :description, "Description physique (250 carac max)" %><br />
  <%= f.text_area :description, :size => "30x10" %>
</p>
<h3>Caractéristiques</h3>
<p>
  <%= f.label :action, "Action:" %>
  <%= f.number_field :action,:size => 3, :step => 1 %> / <%= f.number_field :action_max,:size => 3, :step => 1 %>
</p>
<p>
  <%= f.label :life_point, "Point de vie:" %>
  <%= f.number_field :life_point,:size => 3, :step => 1 %> / <%= f.number_field :life_point_max,:size => 3, :step => 1 %>
</p>
<p>
  <%= f.label :power, "Puissance:" %>
  <%= f.number_field :power,:size => 3, :step => 1 %> / <%= f.number_field :power_max,:size => 3, :step => 1 %>
</p>
<p>
  <%= f.label :dexterity, "Dextérité:" %>
  <%= f.number_field :dexterity,:size => 3, :step => 1 %> 
</p>
<p>
  <%= f.label :adroitness, "Habileté:" %>
  <%= f.number_field :adroitness,:size => 3, :step => 1 %> 
</p>
<p>
  <%= f.label :constitution, "Constitution:" %>
  <%= f.number_field :constitution,:size => 3, :step => 1 %> 
</p>
<p>
  <%= f.label :visual_acuity, "Acuité Visuel" %>
  <%= f.number_field :visual_acuity,:size => 3, :step => 1 %> 
</p>
<p>
  <%= f.submit :value => button %>
</p>