<% content_for :section,  :feedbacks %>
<h1>Liste des feedbacks</h1>
<div><%= link_to "Nouveau Feedback", new_admin_feedback_path %></div>
<div>Filtre: <%= link_to "Tous", "#{admin_feedbacks_path}#{"?user=1" unless params[:user].blank?}" %>, <%= link_to "Implémentation", "#{admin_feedbacks_path}?#{"user=1&" unless params[:user].blank?}filter=feature" %>, <%= link_to "Préparation", "#{admin_feedbacks_path}?#{"user=1&" unless params[:user].blank?}filter=todo" %>, <%= link_to "Bug", "#{admin_feedbacks_path}?#{"user=1&" unless params[:user].blank?}filter=bug" %> | Afficher:  <%= link_to "Tous", "#{admin_feedbacks_path}#{"?filter=" unless params[:filter].blank?}#{params[:filter]}" %>, <%= link_to "Mes feedbacks", "#{admin_feedbacks_path}?user=1#{"&filter=" unless params[:filter].blank?}#{params[:filter]}" %></div>
  <h2>En cours <%= @feedbacks_process.count %></h2>
  <% unless @feedbacks_process.empty? %>
  
<table>
  <tr>
    <th>Num</th>
    <th>Catégorie</th>
    <th>Assigné à </th>
    <th>Sujet</th>
    <th>Priorité</th>
    <th>Mise à jour</th>
    <th  style="width:1px;white-space:nowrap;">Actions</th>
  </tr>
<% @feedbacks_process.each do |feedback|  %>
  <tr class="<%= cycle("darker", "brighter") -%>">
    <td>#<%= feedback.id %></td>
    <td><%= t feedback.category %></td>
    <td><%= feedback.worker.email unless feedback.worker.blank? %></td>
    <td><%= feedback.subject %></td>
    <td><%= feedback.priority %></td>
    <td><%= l feedback.updated_at, :format => :short %></td>
    <td style="width:1px;white-space:nowrap;"><%= link_to "Editer", edit_admin_feedback_path(feedback.id) %> - <%= link_to "Supprimer", admin_feedback_path(feedback.id), :method => :delete, :confirm => "Supprimer cet enregistrement?" %></td>
  </tr>
<%  end %>
</table>
<% end %>
<h2>En attente <%= @feedbacks_waiting.count %></h2>

<% unless @feedbacks_waiting.empty? %>
<table>
  <tr>
    <th>Num</th>
    <th>Catégorie</th>
    <th>Assigné à </th>
    <th>Sujet</th>
    <th>Priorité</th>
    <th>Mise à jour</th>
    <th  style="width:1px;white-space:nowrap;">Actions</th>
  </tr>
<% @feedbacks_waiting.each do |feedback|  %>
  <tr class="<%= cycle("darker", "brighter") -%>">
    <td>#<%= feedback.id %></td>
    <td><%= t feedback.category %></td>
    <td><%= feedback.worker.email unless feedback.worker.blank? %></td>
    <td><%= feedback.subject %></td>
    <td><%= feedback.priority %></td>
    <td><%= l feedback.updated_at, :format => :short %></td>
    <td style="width:1px;white-space:nowrap;"><%= link_to "Editer", edit_admin_feedback_path(feedback.id) %> - <%= link_to "Supprimer", admin_feedback_path(feedback.id), :method => :delete, :confirm => "Supprimer cet enregistrement?" %></td>
  </tr>
<%  end %>
</table>
<% else %>
  Aucun feedback en attente.
<% end %>
  
  
  <h2>Terminé  <%= @feedbacks_completed.count %></h2>
  <% unless @feedbacks_completed.empty? %>
<table>
  <tr>
    <th>Num</th>
    <th>Catégorie</th>
    <th>Assigné à </th>
    <th>Sujet</th>
    <th>Priorité</th>
    <th>Mise à jour</th>
    <th  style="width:1px;white-space:nowrap;">Actions</th>
  </tr>
<% @feedbacks_completed.each do |feedback|  %>
  <tr class="<%= cycle("darker", "brighter") -%>">
    <td>#<%= feedback.id %></td>
    <td><%= t feedback.category %></td>
    <td><%= feedback.worker.email unless feedback.worker.blank? %></td>
    <td><%= feedback.subject %></td>
    <td><%= feedback.priority %></td>
    <td><%= l feedback.updated_at, :format => :short %></td>
    <td style="width:1px;white-space:nowrap;"><%= link_to "Editer", edit_admin_feedback_path(feedback.id) %> - <%= link_to "Supprimer", admin_feedback_path(feedback.id), :method => :delete, :confirm => "Supprimer cet enregistrement?" %></td>
  </tr>
<%  end %>
</table>
<% else %>
  Aucun feedback complété.
<% end %>