<!DOCTYPE html>
<html>
<head>
  <title>RDLA</title>
  <link  href="http://fonts.googleapis.com/css?family=Nunito|Tangerine" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p style="position:fixed;bottom:0;right:5px;background: #900;padding:0.5em;border-radius:15px;"><%= link_to("Administration", admin_root_path,:style => "color:white;text-decoration:none;font-weight:bolder;") if current_user.is_a?(User::Admin)%></p>
</body>
</html>
